@import "~@vtfk/components/src/ui/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.statistics {
  max-width: 922px;

  .page-title {
    margin-bottom: $baseUnit * 7;

    @media(max-width: 1000px) {
      margin-bottom: $baseUnit * 3;
    }
  }

  .stats-collapse {
    margin-bottom: $baseUnit * 6;

    .stats-collapse-title {
      margin-bottom: $baseUnit * 4;
      font-weight: 700;
    }

    .stats-collapse-table {
      table {
        border-collapse: collapse;
        width: 100%;

        tr {
          td {
            padding-right: $baseUnit * 2;
            padding-bottom: $baseUnit * 1;

            &.stats-collapse-table-progress {
              width: 400px;

              @media(max-width: 1000px) {
                width: 100px;
              }

              .stats-collapse-table-progressbar {
                background: $onahau;
                height: $baseUnit * 2;
                width: 100%;
                animation: animate-progressbar 1.5s ease-out;
              }
            }
          }
        }
      }
    }

    &:not(:last-child) {
      padding-bottom: $baseUnit * 6;
      border-bottom: 1px solid #979797;

      @media(max-width: 1000px) {
        padding-bottom: $baseUnit * 3;
      }
    }
  }
}

@keyframes animate-progressbar {
  0% {
    width: 0%;
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  100% {
    width: 100%
  }
}
