@import "../../assets/scss/tokens.scss";
@import "../../assets/scss/helpers";

.student {
  max-width: 922px;

  @media(max-width: 1000px) {
    max-width: 100%;
  }

  .back-link {
    display: block;
    margin-bottom: $baseUnit * 6;
  }

  .person-information {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $baseUnit * 7;
    position: relative;

    @media(max-width: 1000px) {
      padding-bottom: $baseUnit * 3;
      flex-wrap: wrap;
      margin-bottom: $baseUnit * 3;
    }

    .image {

    }

    .text-wrapper {
      flex: 1;
      margin-left: $baseUnit * 4;
      padding-right: $baseUnit * 40;

      @media(max-width: 1000px) {
        width: calc(100% - (80px) - (#{$baseUnit} * 4));
        flex: none;
        padding-right: 0;
        margin-bottom: $baseUnit * 3;
      }

      .name {
        font-weight: 700;

        @media(max-width: 1000px) {
          font-size: 21px;
          line-height: 26px;
        }
      }

      .other {
        margin-top: $baseUnit / 2;
      }
    }

    .person-information-actions {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-wrap: nowrap;

      @media(max-width: 1000px) {
        position: relative;
        flex-wrap: wrap;
      }

      .person-information-action-button {
        margin-left: $baseUnit;
        margin-top: 0;

        @media(max-width: 1000px) {
          margin-left: 0;
          margin-right: $baseUnit;
        }
      }
    }
  }

  .intro {
    padding-right: $baseUnit * 18;
    margin-bottom: $baseUnit * 5;

    @media(max-width: 1000px) {
      padding-right: 0;
      margin-bottom: $baseUnit * 3;
    }

    .intro-title {
      font-weight: 700;
      margin-bottom: $baseUnit * 2;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($baseUnit * 4);
    margin-bottom: $baseUnit * 2;

    @media(max-width: 1000px) {
      margin-left: 0;
    }

    .action-link {
      width: calc(50% - #{$baseUnit * 4});
      margin-left: $baseUnit * 4;
      margin-bottom: $baseUnit * 2;

      @media(max-width: 1000px) {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .panel-title {
    margin: 0 0 ($baseUnit * 4) 0;
    display: flex;
    align-items: center;
    line-height: 1em;

    .icon {
      margin-right: $baseUnit * 3;
    }
  }

  .panel-link {
    margin-top: $baseUnit * 5;
  }

  .activity-panel {
    background: $springWood;
    padding: ($baseUnit * 5) ($baseUnit * 4);
    margin-bottom: $baseUnit * 4;

    @media(max-width: 1000px) {
      padding: ($baseUnit * 3) ($baseUnit * 2);
      margin-bottom: $baseUnit * 2;
    }

    .activity-panel-table {
      width: 100%;
      border-collapse: collapse;

      tr {
        &.clickable {
          cursor: pointer;
          outline: 0;
        }

        td {
          padding-right: $baseUnit * 2;
          padding-bottom: $baseUnit * 2;

          .activity-name {
            display: flex;
            flex-wrap: nowrap;

            .initials-badge {
              margin-right: $baseUnit * 2;
            }
          }

          &:last-child {
            text-align: center;
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .add-more-button {
    margin-top: $baseUnit * 5;
  }

  .yff {
    margin-bottom: $baseUnit * 6;
  }
}
