@use "sass:math";
@import "~@vtfk/components/src/ui/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.new-document-modal {
  .person-information {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $baseUnit * 12;

    @media (max-width: 1000px) {
      margin-bottom: $baseUnit * 6;
    }

    .image {

    }

    .text-wrapper {
      flex: 1;
      margin-left: $baseUnit * 4;

      .name {
        font-weight: 700;
      }

      .other {
        /* Changed from "$baseUnit / 2". Division by '/' is deprecated and will be removed in sass 2.x */
        margin-top: math.div($baseUnit, 2);
      }
    }
  }

  .form {
    padding-bottom: $baseUnit * 8;

    @media (max-width: 1000px) {
      padding-bottom: 0;
    }

    .select {
      margin-bottom: $baseUnit * 5;
    }
  }

  .action button {
    min-width: 154px;
  }
}
