@import "../Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.skeleton-loader {
  height: 24px;
  width: 100%;
  will-change: transform;
  animation: placeHolderShimmer 2s linear infinite forwards;
  -webkit-backface-visibility: hidden;
  background: rgba(#000, 0.05);
  background: linear-gradient(90deg, rgba(#000, 0.03) 8%, rgba(#000, 0.05) 18%, rgba(#000, 0.03) 33%);
  background-size: 800px 104px;

  &.big {
    height: 48px;
  }

  &.small {
    height: 16px;
  }
}

@keyframes placeHolderShimmer {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: -468px 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: 468px 0
    }
}
