@import "../Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.text-field {
  input {
    // reset
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    text-decoration: none;
    border-radius: 0;
    font-weight: normal;
    box-shadow: none;
    outline: 0;

    &:active,
    &:visited,
    &:focus {
        color: inherit;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 4px $lightBlue;
    }
  }

  &.search {
    position: relative;

    input {
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      border-radius: 24px;
      padding: 0 ($baseUnit * 3);
      padding-right: $baseUnit * 7;
      background: #fff;
      border: 1px solid #979797;
    }

    .icon {
      position: absolute;
      right: $baseUnit * 2;
      top: 50%;
      transform: translateY(-50%);

      img {
        width: 18px;
        height: 18px;
        display: block;
      }
    }
  }
}