@import "../../_lib-components/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.yff-confirmation-modal {
  .person-information {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $baseUnit * 7;

    @media (max-width: 1000px) {
      margin-bottom: $baseUnit * 5;
    }

    .image {

    }

    .text-wrapper {
      flex: 1;
      margin-left: $baseUnit * 4;

      .name {
        font-weight: 700;
      }

      .other {
        margin-top: $baseUnit / 2;
      }
    }
  }

  .yff-intro {
    margin-top: 0px;
    margin-bottom: $baseUnit * 4;
  }

  .form {
    padding-bottom: $baseUnit * 8;

    @media (max-width: 1000px) {
      padding-bottom: $baseUnit * 2;
    }

    .input-element {
      margin-bottom: $baseUnit * 5;
    }
    
    .input-elements {
      margin-bottom: $baseUnit * 5;
      
      & > div.text-field,
      & > div.datepicker-field {
        display: inline-block;
        width: calc((100% - 30px) / 2);
        
        &:nth-child(1) {
          margin-right: 30px;
        }
      }

    }

    .prefilled {
      margin-bottom: $baseUnit * 4;

      .prefilled-label {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        color: rgba(#1D1C28, 0.4);
        margin-bottom: $baseUnit;
      }

      .prefilled-text {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .yff-kontaktperson {
      position: relative;
      transition: all 0.5s;
      
      &.open {
        max-height: 500px;
        opacity: 1;
      }
      
      &.closed {
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
      }

      &.bedrift,
      &.parorende {
        margin: 32px 0;
        padding: $baseUnit * 4;
        padding-bottom: $baseUnit;
        background: $springWood;

        .delete-button {
          position: absolute;

          top: -20px;
          right: -35px;
        }

        &.closed .delete-button {
          top: 0px;
          right: -10px;

          transition: all .25s linear;
          opacity: 0;
        }
      }
      
      &.kopipaepost {

        .input-element {
          width: calc(100% - 60px);
          margin-bottom: $baseUnit * 3;
        }

        .delete-button {
          position: absolute;
          top: 15px;
          right: -15px;
        }
      }
    }  

    .add-more-button {
      margin-top: $baseUnit;
      margin-bottom: $baseUnit * 4;
    }
  }

  .button-left-icon {
    @include reset-button();
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .button-left-icon-icon {
      color: $deepSeaGreen;
      margin-right: $baseUnit * 2;
      width: $baseUnit * 5;
      height: $baseUnit * 5;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $iceCold;
      border: 1px solid $iceCold;
      border-radius: 50%;
    }

    .button-left-icon-text {
      color: $deepSeaGreen;
      font-size: 16px;
      line-height: 1em;
      font-weight: bold;
    }

    &:hover {
      .button-left-icon-icon {
        background: #fff;
        border-color: $deepSeaGreen;
      }
    }

    &:active,
    &:focus {
      .button-left-icon-icon {
        background: $catSkillWhite;
        border-color: $deepSeaGreen;
      }
    }

    &[disabled] {
      .button-left-icon-icon {
        background: #EEEEEE;
        border-color: #EEEEEE;
        color: #fff;

        .icon {
          color: #fff;
        }
      }

      .button-left-icon-text {
        color: #E3E3E3;
      }
    }
  }

  .subheader {
    margin: ($baseUnit * 6) 0 ($baseUnit * 3) 0;
    font-size: 21px;
    font-weight: bold;
  }

  .subtitle {
    margin: -($baseUnit * 2) 0 ($baseUnit * 3) 0;
    max-width: $baseUnit * 115;
  }
}


.ReactCollapse--collapse {
  transition: height 500ms;
}
