@import "~@vtfk/components/src/ui/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.home {
  max-width: 922px;

  .page-title {
    margin-bottom: $baseUnit * 7;

    @media(max-width: 1000px) {
      margin-bottom: $baseUnit * 3;
    }

    // Wrap text on mobile, but not tablets
    @media(max-width: 400px) {
      max-width: 300px;
    }
  }

  .panel-title {
    margin: 0 0 ($baseUnit * 4) 0;
    display: flex;
    align-items: center;
    line-height: 1em;

    .icon {
      margin-right: $baseUnit * 3;
    }
  }

  .panel-link {
    margin-top: $baseUnit * 5;
  }

  .activity-panel {
    background: $springWood;
    padding: ($baseUnit * 5) ($baseUnit * 4);
    margin-bottom: $baseUnit * 4;

    @media(max-width: 1000px) {
      padding: ($baseUnit * 3) ($baseUnit * 2);
      margin-bottom: $baseUnit * 2;
    }

    .activity-panel-table {
      width: 100%;
      border-collapse: collapse;

      tr {
        td {
          padding-right: $baseUnit * 2;
          padding-bottom: $baseUnit * 2;

          .activity-name {
            display: flex;
            flex-wrap: nowrap;

            .paragraph {
              margin-left: $baseUnit * 2;
            }
          }

          a {
            // text-decoration: none;
          }

          &:last-child {
            text-align: center;
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }
    }

    @media(max-width: 1000px) {
      tr {
        td {
          display: none;

          &:nth-child(1),
          &:last-child {
            display: table-cell;
          }
        }
      }
    }
  }

  .statistics-class-support-wrapper {
    display: flex;
    flex-wrap: nowrap;

    @media(max-width: 1000px) {
      display: block;
    }
  }

  .statistics-panel {
    background: $catSkillWhite;
    padding: ($baseUnit * 5) ($baseUnit * 4);
    width: 540px;
    margin-right: $baseUnit * 4;

    @media(max-width: 1000px) {
      padding: ($baseUnit * 3) ($baseUnit * 2);
      margin-right: 0;
      width: auto;
      margin-bottom: $baseUnit * 2;
    }

    .panel-title {
      margin: 0 0 ($baseUnit * 3) 0;
    }

    .statistics {
      .statistics-row {
        display: flex;
        justify-content: space-between;

        .statistics-item {
          width: 180px;
          margin-bottom: $baseUnit * 3;

          @media(max-width: 1000px) {
            width: 150px;
          }
        }
      }
    }

    .panel-link {
      margin-top: $baseUnit * 4;
    }
  }

  .class-support-panel {
    background: $ecruWhite;
    padding: ($baseUnit * 5) ($baseUnit * 4);
    padding-right: ($baseUnit * 6);
    flex: 1;

    @media(max-width: 1000px) {
      padding: ($baseUnit * 3) ($baseUnit * 2);
    }

    .panel-title {
      margin: 0 0 ($baseUnit * 3) 0;
    }

    a {
      color: inherit;
    }

    .paragraph {
      margin-bottom: $baseUnit * 3;
    }

    .panel-link {
      margin-top: $baseUnit * 8;
    }
  }
}
