@import "../Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.typography {
  margin: 0;

  &.paragraph {
    font-size: 16px;
    line-height: 24px;

    &.small {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &.link {
    font-size: 16px;
    line-height: 24px;

    .link-icon {
      margin-left: $baseUnit * 2;
    }

    &.no-style {
      text-decoration: none;
      color: inherit;
    }

    &.small {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &.heading-one {
    font-size: 68px;
    line-height: 72px;
    font-weight: 400;
  }

  &.heading-two {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  &.heading-three {
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;
  }

  &.heading-four {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
  }

}