@import "~@vtfk/components/src/ui/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.help {
  max-width: 922px;

  .page-title {
    margin-bottom: $baseUnit * 7;

    @media(max-width: 1000px) {
      margin-bottom: $baseUnit * 3;
    }
  }

  .help-section-title {
    margin-top: $baseUnit * 5;
    margin-bottom: $baseUnit;
    font-weight: 700;
  }

  .help-question-block {
    margin-bottom: $baseUnit * 2;
  }
  
  .help-section-question {
    font-weight: 700;
  }

  .help-text-block {
    margin-bottom: $baseUnit;
  }
}
