@import "../../assets/scss/tokens.scss";
@import "../../assets/scss/helpers";

.yff-review-modal {
  .person-information {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $baseUnit * 7;

    @media (max-width: 1000px) {
      margin-bottom: $baseUnit * 5;
    }

    .image {

    }

    .text-wrapper {
      flex: 1;
      margin-left: $baseUnit * 4;

      .name {
        font-weight: 700;
      }

      .other {
        margin-top: $baseUnit / 2;
      }
    }
  }

  .intro {
    margin-top: 0;
  }

  .form {
    padding-bottom: $baseUnit * 8;

    @media (max-width: 1000px) {
      padding-bottom: $baseUnit * 2;
    }

    .input-element {
      margin-bottom: $baseUnit * 5;
    }

    .input-elements {
      margin-bottom: $baseUnit * 5;

      & > div.text-field {
        vertical-align: top;
        display: inline-block;
        width: calc((100% - 30px) / 2);

        &:nth-child(1) {
          margin-right: 30px;
        }
      }
    }


    .prefilled {
      margin-bottom: $baseUnit * 4;

      .prefilled-label {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        color: rgba(#1D1C28, 0.4);
        margin-bottom: $baseUnit;
      }

      .prefilled-text {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .add-more-button {
      margin-bottom: $baseUnit * 4;
    }

    .fravar-title {
      font-weight: bold;
    }

    .maal {
      margin-top: $baseUnit * 2;
    }

    .scores {
      margin-top: $baseUnit;
    }
  }

  .subheader {
    margin: ($baseUnit * 6) 0 ($baseUnit * 3) 0;
    font-size: 21px;
    font-weight: bold;
  }
}
