@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.statistics-card {
  width: calc(100% / 3 - (#{$baseUnit * 4}));
  margin-bottom: $baseUnit * 2;
  margin-left: $baseUnit * 4;
  padding: ($baseUnit * 2) ($baseUnit * 4) ($baseUnit * 2) ($baseUnit * 4);
  background: $catSkillWhite;

  @media(max-width: 1000px) {
    margin-left: 0;
    width: 100%;
    padding-left: $baseUnit * 2;
  }
}

.statistics-card-title {
}

.statistics-card-text {
  padding-right: $baseUnit * 4;
}

.statistics-group {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($baseUnit * 4);
  margin-bottom: $baseUnit * 5;

  @media(max-width: 1000px) {
    margin-left: 0;
    margin-bottom: $baseUnit * 3;
  }
}
