@import "../Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.select {
  position: relative;
  padding-bottom: 14px;
  padding-top: $baseUnit * 2;

  .select-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: $baseUnit;
    z-index: 0;
    color: rgba(#1D1C28, 0.4);
    position: absolute;
    top: -$baseUnit;
    left: 0;
  }

  .select-trigger {
    border: 0;
    outline: 0;
    font: inherit;
    padding: 0;
    box-shadow: none;
    background: none;
    position: relative;
    z-index: 3;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    user-select: none;
    // color: rgba(#1D1C28, 0.58);
    // font-style: italic;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: calc(100% + 14px);
      left: 0;
      right: 0;
      border-bottom: 1px solid #979797;
    }

    &:focus {
      &:after {
        border-bottom: 2px solid #444;
      }
    }

    .select-trigger-text {
      padding-right: $baseUnit * 6;
    }

    .select-trigger-icon {
      polygon {
        fill: #979797;
      }
    }

    &:focus > .select-trigger-icon {
      polygon {
        fill: #444;
      }
    }
  }

  .select-items {
    position: relative;
    z-index: 2;
    margin-top: $baseUnit * 3;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -($baseUnit * 10);
      left: -($baseUnit * 3);
      right: -($baseUnit * 3);
      bottom: -($baseUnit * 5);
      background: #fff;
      box-shadow: 0 20px 12px 0 rgba(0, 0, 0, 0.025);
      z-index: -1;
      border: 1px solid #C6C6C6;
    }

    .select-item {
      margin-bottom: $baseUnit * 1;
    }
  }

  &.is-open {
    .select-trigger {
      &:after {
        display: none;
      }
    }
  }
}
