@import "../../_lib-components/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.activity-log {
  .page-title {
    margin-bottom: $baseUnit * 7;
  }

  .activity-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: $baseUnit * 5;

      thead {
        tr {
          th {
            text-align: left;
            padding-left: $baseUnit * 2;
            padding-bottom: $baseUnit * 3;
            white-space: nowrap;
          }
        }
      }

      tbody {
        tr {
          td {
            padding-left: $baseUnit * 2;
            padding-right: $baseUnit * 2;
            padding-top: $baseUnit * 2;
            padding-bottom: $baseUnit * 2;

            .activity-name {
              display: flex;
              flex-wrap: nowrap;

              .initials-badge {
                margin-right: $baseUnit * 2;
              }
            }

            &:last-child {
              text-align: center;
            }
          }

          &:nth-child(odd) {
            td {
              background: $springWood;
            }
          }
        }
      }
    }
}