@import "../../_lib-components/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.activity-log {
  .page-title {
    margin-bottom: $baseUnit * 7;

    @media(max-width: 1000px) {
      margin-bottom: $baseUnit * 5;
    }
  }

  tbody tr {
    width: 100%;
  }
}
