@import "../../_lib-components/Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.preview-document-modal {
  .person-information, .person-information-teacher {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $baseUnit * 5;

    @media (max-width: 1000px) {
      margin-bottom: $baseUnit * 6;
    }

    .image {

    }

    .text-wrapper {
      flex: 1;
      margin-left: $baseUnit * 4;

      .name {
        font-weight: 700;
      }

      .other {
        margin-top: $baseUnit / 2;
      }
    }
  }

  .person-information-teacher {
    margin-bottom: $baseUnit * 12;
  }

  .form {
    padding-bottom: $baseUnit * 8;

    @media (max-width: 1000px) {
      padding-bottom: 0;
    }

    .select {
      margin-bottom: $baseUnit * 5;
    }
  }

  .action button {
    min-width: 154px;
  }
}
