.icon {
  width: 24px;
  height: auto;

  svg {
    display: block;
    width: 24px;
    height: auto;
  }

  &.medium {
    &,
    svg {
      width: 28px;
    }
  }

  &.small {
    &,
    svg {
      width: 18px;
    }
  }

  &.xsmall {
    &,
    svg {
      width: 14px;
    }
  }
}
