// units
$baseUnit: 8px;

// colors
$red: #D30014;
$gin: #EAF3EF;
$swansDown: #D4E6DC;
$pixieGreen: #BFDCB2;
$springWood: #F8F6F0;
$lightBlue: #AEDCEA;
$potPourri: #F7E5E2;
$peppermint: #DAE8D0;
$deepSeaGreen: #005260;