@import "../Tokens/tokens.scss";
@import "../../assets/scss/helpers";

.button {
  @include reset-button();
  outline: 0;
  height: 48px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #fff;
  background: $deepSeaGreen;
  border: 1px solid $deepSeaGreen;
  border-radius: 24px;
  display: block;
  width: 100%;
  padding: $baseUnit ($baseUnit * 7);
  font-weight: 700;

  &.button-primary {
    &:hover {
      background: #fff;
      color: $deepSeaGreen;
      border-color: $deepSeaGreen;
    }

    &:active,
    &:focus {
      background: $catSkillWhite;
      color: $deepSeaGreen;
      border-color: $deepSeaGreen;
    }

    &:disabled {
      background: #eeeeee;
      color: #fff;
      border: none;
    }

  }
}

.icon-button-link {
  @include reset-button();
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .icon-button-link-icon {
    color: $deepSeaGreen;
    margin-right: $baseUnit * 2;
    width: $baseUnit * 5;
    height: $baseUnit * 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $iceCold;
    border: 1px solid $iceCold;
    border-radius: 50%;
  }

  .icon-button-link-text {
    color: $deepSeaGreen;
    font-size: 16px;
    line-height: 1em;
    font-weight: bold;
  }

  &:hover {
    .icon-button-link-icon {
      background: #fff;
      border-color: $deepSeaGreen;
    }
  }

  &:active,
  &:focus {
    .icon-button-link-icon {
      background: $catSkillWhite;
      border-color: $deepSeaGreen;
    }
  }

  &[disabled] {
    .icon-button-link-icon {
      background: #EEEEEE;
      border-color: #EEEEEE;
      color: #fff;

      .icon {
        color: #fff;
      }
    }

    .icon-button-link-text {
      color: #E3E3E3;
    }
  }

  &.icon-button-link-transparent-bordered {
    border: 1px solid #A3A3A3;
    border-radius: $baseUnit;
    padding: 0 ($baseUnit * 2);
    height: $baseUnit * 5;

    .icon-button-link-icon {
      background: 0;
      border: 0;
      color: inherit;
      margin-right: $baseUnit;
      width: auto;
      width: $baseUnit * 3;
      height: $baseUnit * 3;
    }

    .icon-button-link-text {
      color: inherit;
      font-weight: normal;
    }
  }
}
